<div id="pz-socials-wrapper-{{ product.productID }}" 
     class="pz-socials-wrapper" 
     data-block-root="#pz-product-wrapper-{{ product.productID }}">
	<div id="pz-socials-innerWrap-{{ product.productID }}" 
	     class="col-md-12 pz-socials-inner-wrap" 
	     data-block-root="#pz-product-wrapper-{{ product.productID }}">
		
		<div class="col-md-2 col-sm-2 col-xs-2 pz-icon-pod col-md-2 col-sm-2 col-xs-2 pz-icon-pod-wrap-{{ product.productID }}"
		     data-block-root="#pz-product-wrapper-{{ product.productID }}">
			<a id="pz-socials-icon-link-{{ product.productID }}" 
			   class="fa fa-facebook-link"
		       href="https://facebook.com"
		       target="_blank" 
		       data-block-root="#pz-product-wrapper-{{ product.productID }}">
				<span id="pz-socials-icon-fa-{{ product.productID }}" 
				      class="fa fa-facebook" 
				      data-block-root="#pz-product-wrapper-{{ product.productID }}">
				</span>
			</a>
		</div>
		
		<div class="col-md-2 col-sm-2 col-xs-2 pz-icon-pod col-md-2 col-sm-2 col-xs-2 pz-icon-pod-wrap-{{ product.productID }}"
		     data-block-root="#pz-product-wrapper-{{ product.productID }}">
			<a id="pz-socials-icon-link-{{ product.productID }}" 
			   class="fa fa-twitter-link"
		       href="https://twitter.com"
		       target="_blank" 
		       data-block-root="#pz-product-wrapper-{{ product.productID }}">
				<span id="pz-socials-icon-fa-{{ product.productID }}" 
				      class="fa fa-twitter" 
				      data-block-root="#pz-product-wrapper-{{ product.productID }}">
				</span>
			</a>
		</div>
		
		<div class="col-md-2 col-sm-2 col-xs-2 pz-icon-pod col-md-2 col-sm-2 col-xs-2 pz-icon-pod-wrap-{{ product.productID }}"
		     data-block-root="#pz-product-wrapper-{{ product.productID }}">
			<a id="pz-socials-icon-link-{{ product.productID }}" 
			   class="fa fa-linkedin-link"
			   href="https://linkedin.com/" 
			   target="_blank"
			   data-block-root="#pz-product-wrapper-{{ product.productID }}">
				<span id="pz-socials-icon-fa-{{ product.productID }}" 
				      class="fa fa-linkedin" 
				      data-block-root="#pz-product-wrapper-{{ product.productID }}">
				</span>
			</a>
		</div>
		
		<div class="col-md-2 col-sm-2 col-xs-2 pz-icon-pod col-md-2 col-sm-2 col-xs-2 pz-icon-pod-wrap-{{ product.productID }}"
		     data-block-root="#pz-product-wrapper-{{ product.productID }}">
			<a id="pz-socials-icon-link-{{ product.productID }}" 
			   class="fa fa-google-plus-link"
			   href="https://googleplus.com/" 
			   target="_blank"
			   data-block-root="#pz-product-wrapper-{{ product.productID }}">
				<span id="pz-socials-icon-fa-{{ product.productID }}" 
				      class="fa fa-google-plus" 
				      data-block-root="#pz-product-wrapper-{{ product.productID }}">
				</span>
			</a>
		</div>
		
		<div class="col-md-2 col-sm-2 col-xs-2 pz-icon-pod col-md-2 col-sm-2 col-xs-2 pz-icon-pod-wrap-{{ product.productID }}"
		     data-block-root="#pz-product-wrapper-{{ product.productID }}">
			<a id="pz-socials-icon-link-{{ product.productID }}" 
			   class="fa fa-instagram-link"
			   href="https://instagram.com/" 
			   target="_blank"
			   data-block-root="#pz-product-wrapper-{{ product.productID }}">
				<span id="pz-socials-icon-fa-{{ product.productID }}" 
				      class="fa fa-instagram" 
				      data-block-root="#pz-product-wrapper-{{ product.productID }}">
				</span>
			</a>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2 pz-icon-pod col-md-2 col-sm-2 col-xs-2 pz-icon-pod-wrap-{{ product.productID }}"
		     data-block-root="#pz-product-wrapper-{{ product.productID }}">
			<a id="pz-socials-icon-link-{{ product.productID }}" 
			   class="fa fa-xing-link"
			   href="https://xing.com/" 
			   target="_blank"
			   data-block-root="#pz-product-wrapper-{{ product.productID }}">
				<span id="pz-socials-icon-fa5" 
				      class="fa fa-xing" 
				      data-block-root="#pz-product-wrapper-{{ product.productID }}">
					
				</span>
			</a>
		</div>
	</div>
</div>